.fondo_body{
    background-color:$color-encabezado;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 8rem;
    .titulo_404{
        font-family: $type-font-titulo-principal;
        font-size: 3rem;
        letter-spacing: 0.8rem;
        font-weight: bold;
        color:$color-letras_footer;
        text-align: center; 
    }
    .parrafo_404{
        font-family: $type-font;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        padding: 2rem;
        word-spacing: 0.5rem;
    }
    .logo_404:hover{
        width: 8rem;

    }

}