.container-cards {
    margin-top: 5em;
    margin-bottom: 5em;
    justify-content: space-evenly;

    .card-miniContainer {
        .card-img {
            padding: 1em;
            height: 20rem;
        }
    }

    .card-body {

        .card-text {
            padding: 0.5em;
            font-family: 'Open Sans', sans-serif;
            font-weight: bolder;
            text-align: start;
            font-size: 1rem;
            text-decoration: solid;
            color: #B88B84;
        }

    }


}
.promocion__titulo{
    font-family: $type-font;
    color: $color-salmon;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0.5em;
    text-align: center;
    animation-duration: 3s;
    animation-name: aparecer;
    margin: 1em;
    padding: 1em;
}
