.fundadoras__titulo{
        font-family: $type-font;
        color: $color-salmon;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0.5rem;
        text-align: center;
        animation-duration: 3s;
        animation-name: aparecer;
        margin: 3rem;
        padding: 1rem;
}
.fundadoras__bloque{
    justify-content: space-between;
    align-items: center;
    
    .fundadoras__Img{
        margin-top: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        height: 20rem;
        width: 18rem;
        border: dotted 0.5rem $color-crema;
        padding: 0.8rem;
        animation-duration: 4s;
        animation-name: aparecer;
    }

    .fundadoras__parrafo{
        font-family: $type-font;
        font-size: 1rem;
        text-align: left;
    }
    
}