@mixin botones ($font, $color, $size) {
   font-family: $font;
   color: $color;
   font-size: $size;
}


.contenedor--acordion {
   margin-top: 2rem;

      .modificador-boton {
         @include botones($type-font, $color-morado, 1rem);

      }

      .modificador-boton:not(.collapsed) {
         @include botones($type-font, $color-morado, 1rem);

      }

      .acordion-cuerpo {
         @include botones($type-font, $color-morado, 1rem);
      }

   }

