@charset "UTF-8";
.header {
  background-color: white; }
  .header .header__logo {
    margin-bottom: 1.2rem;
    padding: 0.8rem; }
  .header .header__logo:hover {
    transform: rotateX(30deg); }
  .header .header__menu .header__menu--item {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif; }
  .header .header__menu .header__menu--item:hover {
    color: #F5A77A;
    font-weight: bold; }

.container__encabezado {
  background-color: #E3AD98;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #F2E9E4; }

@media (max-width: 640px) {
  .container__encabezado {
    background-color: #E3AD98;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    color: #F2E9E4; }
  .header {
    background-color: white; }
    .header .header__logo {
      margin-bottom: 1.2rem;
      padding: 0.8rem; }
    .header .header__logo:hover {
      transform: rotateX(30deg); }
    .header .header__menu {
      font-size: 0.8rem;
      font-family: "Montserrat", sans-serif; }
      .header .header__menu .header__menu--item {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 0.8rem;
        font-family: "Montserrat", sans-serif; }
      .header .header__menu .header__menu--item:hover {
        color: #F5A77A;
        font-weight: bold; } }

.container_newsletter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  background-color: #E3AD98;
  font-family: "Montserrat", sans-serif;
  margin-top: 4rem;
  padding: 2rem; }
  .container_newsletter .newsletter_titulo {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    word-spacing: 0.5rem;
    text-transform: uppercase; }
  .container_newsletter .newsletter_parrafo {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif; }
  .container_newsletter .newsletter_contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center; }
    .container_newsletter .newsletter_contenido .form-newsletter {
      color: #B88B84;
      text-align: justify;
      font-weight: 500;
      font-size: 1rem; }
      .container_newsletter .newsletter_contenido .form-newsletter .btn-newsletter {
        font-size: 1rem;
        text-decoration: none; }

.container__pieDePagina {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .container__pieDePagina .container__pieDePagina__title {
    font-style: italic;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    color: #8BA6A6; }
  .container__pieDePagina .container__pieDePagina__link {
    text-align: left;
    text-decoration: none;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    color: #8BA6A6; }
  .container__pieDePagina .container__pieDePagina__link:hover {
    color: #F5A77A; }

@media (max-width: 640px) {
  .container_newsletter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    background-color: #E3AD98;
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    padding: 1rem; }
    .container_newsletter .newsletter_titulo {
      text-align: center;
      color: white;
      font-weight: 600;
      font-size: 1rem;
      word-spacing: 0.3rem;
      text-transform: uppercase; }
    .container_newsletter .newsletter_parrafo {
      text-align: center;
      color: white;
      font-size: 0.8rem;
      font-family: "Montserrat", sans-serif; }
    .container_newsletter .newsletter_contenido {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-items: center; }
      .container_newsletter .newsletter_contenido .form-newsletter {
        color: #B88B84;
        text-align: justify;
        font-weight: 500;
        font-size: 0.5rem; }
        .container_newsletter .newsletter_contenido .form-newsletter .btn-newsletter {
          font-size: 0.5rem;
          text-decoration: none;
          padding: 0.10rem;
          font-size: 0.5rem; }
  .container__pieDePagina {
    display: flex;
    flex-direction: row; }
    .container__pieDePagina .container__pieDePagina__link {
      text-decoration: none;
      font-style: italic;
      font-family: "Montserrat", sans-serif;
      font-size: 0.6rem;
      color: #8BA6A6;
      font-weight: bold; }
  .container__pieDePagina__title {
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    color: #8BA6A6; } }

.redes {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .redes .redes__title {
    font-family: "Montserrat", sans-serif;
    color: #F5A77A;
    font-weight: bold;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    margin-top: 5rem; }
  .redes .redes__logo {
    width: 4rem;
    border-radius: 30%;
    transition: all 1s; }
  .redes .redes__logo:hover {
    width: 4rem;
    height: 3.8rem; }

@media (max-width: 640px) {
  .redes .redes__title {
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem; }
  .redes .redes__logo {
    width: 2rem;
    border-radius: 30%;
    transition: all 1s; }
  .redes .redes__logo:hover {
    width: 3rem;
    height: 2.8rem; } }

.container__informacion__logo {
  text-decoration: none;
  width: 2.5rem; }

.container__informacion__logo:hover {
  width: 2.5rem;
  height: 2.7rem; }

@media (max-width: 640px) {
  .container__informacion__logo {
    width: 1.5rem; }
  .container__informacion__logo:hover {
    width: 1.5rem;
    height: 2rem; } }

.container-cards {
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: space-evenly; }
  .container-cards .card-miniContainer .card-img {
    padding: 1rem;
    height: 20rem; }
  .container-cards .card-body .card-text {
    padding: 0.5rem;
    font-family: "Montserrat", sans-serif;
    text-align: start;
    font-size: 1rem;
    color: black; }
    .container-cards .card-body .card-text .datos_talle {
      text-decoration: none;
      color: #F5A77A;
      font-family: "Montserrat", sans-serif;
      font-weight: bolder;
      text-align: center;
      font-size: 0.9rem; }
    .container-cards .card-body .card-text .datos_talle:hover {
      text-decoration: underline; }

.promocion__titulo {
  font-family: "Montserrat", sans-serif;
  color: #F5A77A;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.8rem;
  text-align: center;
  animation-duration: 3s;
  animation-name: aparecer;
  margin-top: 5rem;
  padding: 1rem; }

@media (max-width: 640px) {
  .container-cards {
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center; }
    .container-cards .card-miniContainer .card-img {
      padding: 1rem;
      height: 20rem; }
    .container-cards .card-body .card-text {
      padding: 0.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: bolder;
      text-align: start;
      font-size: 0.8rem;
      text-decoration: solid;
      color: #B88B84; }
  .promocion__titulo {
    font-family: "Montserrat", sans-serif;
    color: #F5A77A;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    animation-duration: 3s;
    animation-name: aparecer;
    margin: 1rem;
    padding: 1rem; } }

.row-form {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around; }
  .row-form .form__control-label {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem; }
  .row-form .form__label-dato {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem; }
  .row-form .form__btn-light:hover {
    background-color: #B88B84; }
  .row-form .form__check-input:checked {
    background-color: #B88B84;
    margin-top: 0.5rem; }

.form__img {
  width: 30rem;
  height: 20rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 640px) {
  .row-form {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto; }
    .row-form .form__control-label {
      font-size: 0.5rem;
      font-style: italic;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      padding: 0.2rem;
      margin-bottom: 0.1rem;
      margin-top: 0.2rem; }
    .row-form .form__label-dato {
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 0.3rem;
      margin-top: 0.5rem; }
    .row-form .form__btn-light {
      font-size: 0.8rem;
      font-family: "Montserrat", sans-serif;
      padding: 0.2rem;
      margin-bottom: 0.1rem;
      margin-top: 0.2rem; }
    .row-form .form__btn-light:hover {
      background-color: #B88B84; }
    .row-form .form__check-input {
      font-size: 0.8rem;
      font-family: "Montserrat", sans-serif;
      padding: 0.2rem;
      margin-bottom: 0.1rem;
      margin-top: 0.2rem; }
    .row-form .form__check-input:checked {
      background-color: #B88B84;
      font-size: 0.8rem;
      margin-top: 0.8rem; }
  .form__imgMap {
    width: 15rem;
    height: 10rem;
    margin-top: 5rem;
    margin-bottom: 2rem; } }

.fundadoras__titulo {
  font-family: "Montserrat", sans-serif;
  color: #F5A77A;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-align: center;
  animation-duration: 3s;
  animation-name: aparecer;
  margin: 3rem;
  padding: 1rem; }

.fundadoras__bloque {
  justify-content: space-between;
  align-items: center; }
  .fundadoras__bloque .fundadoras__Img {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 20rem;
    width: 30rem;
    border: solid 0.1rem #F2E9E4;
    padding: 0.8rem;
    animation-duration: 4s;
    animation-name: aparecer; }
  .fundadoras__bloque .fundadoras__parrafo {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    text-align: justify; }

@media (max-width: 640px) {
  .fundadoras__titulo {
    font-size: 1.5rem;
    margin: 1rem;
    letter-spacing: 0.3rem; }
  .fundadoras__bloque {
    flex-direction: column;
    justify-content: center; }
    .fundadoras__bloque .fundadoras__Img {
      margin-top: 0.5rem;
      margin-left: 4.5rem;
      margin-right: 3rem;
      height: 10rem;
      width: 15rem; }
    .fundadoras__bloque .fundadoras__parrafo {
      font-family: "Montserrat", sans-serif;
      font-size: 0.8rem;
      text-align: justify;
      margin-top: 0.7rem; } }

.contenedor--acordion {
  margin-top: 2rem; }
  .contenedor--acordion .modificador-boton {
    font-family: "Montserrat", sans-serif;
    color: #B88B84;
    font-size: 1rem; }
  .contenedor--acordion .modificador-boton:not(.collapsed) {
    font-family: "Montserrat", sans-serif;
    color: #B88B84;
    font-size: 1rem; }
  .contenedor--acordion .acordion-cuerpo {
    font-family: "Montserrat", sans-serif;
    color: #B88B84;
    font-size: 1rem; }

* {
  padding: 0;
  margin: 0; }

.container__videoPresentacion {
  display: flex;
  flex-direction: row; }
  .container__videoPresentacion .container__videoPresentacion--tamaño {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto; }

.presentacion .presentacion__titulo {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  color: #F5A77A;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-align: center;
  animation-duration: 3s;
  animation-name: aparecer;
  margin-top: 4rem;
  padding: 1rem; }

.presentacion .presentacion__titulo:hover {
  color: #B88B84; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 0, 5; }
  100% {
    opacity: 1; } }

.contenedor_ria {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 5rem; }

.contenedor_productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 10rem; }
  .contenedor_productos .producto_item:hover {
    width: 40rem;
    height: 40rem; }

@media (max-width: 640px) {
  .presentacion .presentacion__titulo {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 0.5rem;
    padding: 0.2rem; }
  .contenedor_productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 5rem; }
    .contenedor_productos .producto_item {
      width: 15rem; } }
