.header {
    /*background-image: linear-gradient(to bottom, $color-crema, white);*/
    background-color: white;

    .header__logo {
        margin-bottom: 1.2em;
        padding: 0.8em;
        
    }

    .header__logo:hover {
        transform: rotateX(30deg);

    }

    .header__menu {
        font-size: 1em;
        font-family: $type-font;

        .header__menu--item {
            text-decoration: none;
            color: $color-menu;
            font-weight: 500;
            font-size: 1.2em;
            font-family: $type-font;
        }

        .header__menu--item:hover {
            color: $color-salmon;
            font-weight: bold;

        }
    }
}

.container__encabezado {
    background-color: $color-encabezado;
    text-align: center;
    font-family: $type-font;
    font-size: 1rem;
    color: $color-crema;

}

