.redes {
    display: flex;
    flex-direction: column;
    align-items: center;

    .redes__title {
        font-family: $type-font;
        color: $color-salmon;
        font-weight: bold;
        letter-spacing: 0.5em;
        font-size: 1.5em;
        text-align: center;
        padding: 2em;
        margin-top: 5em;
    }

    .redes__logo {
        width: 4em;
        border-radius: 30%;
        transition: all 1s;
    }

    .redes__logo:hover {
        width: 4em;
        height: 3.8em;
    }
}
