.container_newsletter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    background-color: $color-encabezado;
    font-family: $type-font;
    margin-top: 4rem;
    padding: 2rem;

    .newsletter_titulo {
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 2rem;
        word-spacing: 0.5rem;
        text-transform: uppercase
    }

    .newsletter_parrafo {
        text-align: center;
        color: white;
        font-size: 1rem;
        font-family: $type-font;
    }


    .newsletter_contenido {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-items: center;
       
        .form-newsletter {
            color: $color-morado;
            text-align: justify;
            font-weight: 500;
            font-size: 1rem;
    
            .btn-newsletter {
                font-size: 1rem;
                text-decoration: none;


            }
        }
    }
}    

.container__pieDePagina {
    background-color: $color-footer;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .container__pieDePagina__title {
        font-style: italic;
        font-family: $type-font;
        font-size: 1rem;
        color: $color-letras_footer;
    }

    .container__pieDePagina__link {
        text-decoration: none;
        font-style: italic;
        font-family: $type-font;
        font-size: 1em;
        color:$color-letras_footer;
        font-weight: bold;
    }

    .container__pieDePagina__link:hover {
        color: $color-salmon;

    }
}

@media (max-width: 640px) {
    .container_newsletter {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        background-color: $color-encabezado;
        font-family: $type-font;
        margin-top: 2rem;
        padding: 1rem;
    
        .newsletter_titulo {
            text-align: center;
            color: white;
            font-weight: 600;
            font-size: 1rem;
            word-spacing: 0.3rem;
            text-transform: uppercase
        }
    
        .newsletter_parrafo {
            text-align: center;
            color: white;
            font-size: 0.8rem;
            font-family: $type-font;
        }

        .newsletter_contenido {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-items: center;
           
            .form-newsletter {
                color: $color-morado;
                text-align: justify;
                font-weight: 500;
                font-size: 0.5rem;
        
                .btn-newsletter {
                    font-size: 0.5rem;
                    text-decoration: none;
                    
    
                }
            }
        }
    }   
    .container__pieDePagina {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        .container__pieDePagina__title {
            font-style: italic;
            font-family: $type-font;
            font-size: 0.8rem;
            color: $color-letras_footer;
        }
    
        .container__pieDePagina__link {
            text-decoration: none;
            font-style: italic;
            font-family: $type-font;
            font-size: 0.8rem;
            color:$color-letras_footer;
            font-weight: bold;
        }
    
    } 
         
}
